/*1rem = 16px*/
/*Resetea todos los estilos del navegador */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(117, 117, 117);
    font-size: 0.9rem;
}
a{
    color:rgb(117, 117, 117);
    text-decoration: none;
}
a:hover{
    color: rgba(226,95,95, 1);   
}
ul{
    list-style:none;
}
h1{
    font-size: 1.8rem;
    color: rgba(226,95,95, 0.6);   
    letter-spacing: -0.05rem;
}
h2{
    font-size: 1.4rem;
    color: white;
}
/*ESTRUCTURA*/
main{
    display:flex;
    flex-direction:column;
    padding:1.56rem;
}
/*HEADER*/
header{
    display:flex;
    flex-direction:column;
    background: url( ../images/fondo_optimizado.jpg) center center no-repeat;
    background-size: 100% auto;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;   
    margin-bottom: 1rem;
}
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
}
/*logo*/
.nav-brand{
    flex-grow: 1;
    margin-left: 3rem;
}
.nav-brand img{
    width: 70px;
}
/*menu*/
.nav-menu{
    display:flex;
    flex-direction:row;
    flex-grow:2;
}
.nav-menu li{
    padding-right: 1.2rem;
}
.nav-menu li i{
    font-size: 0.8rem;
    padding-right: 0.6rem;
}
/*social*/
.nav-menu-right {
    flex-grow:1;
}
.nav-menu-right li i{
    font-size: 0.8rem;
}
.nav-menu-right li:first-child{
    padding-bottom: 1.6rem;
}
/*encabezado*/
.header-text{
    width: 100%;
    margin-top:4rem;
    padding: 2rem 0;
    background-color: rgba(219,219,219,0.5);
}
.header-text h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/*SECTION*/
section{
 display:grid;
    display:flex;
    flex-flow: row wrap;
    background-color:  rgba(219,219,219,1);
    padding: .8rem;
   
}
article{
    width: 50%;
    background-color: rgb(233,233,233);
    padding: .5rem;   
}
article img{
    width: 100%;
}
article .date{
    font-size:1rem;
    font-weight: bold;
    color:rgb(209,209,190);
    height:1rem;
    margin-top:-1.5rem;   
    padding-left: .5rem;     
}
article h2{
    background-color: rgb(249,76,71);
    color:rgb(233,233,233);
    font-weight: bold;
    padding: 1rem  0 0 0.5rem;   
    line-height:1rem;
}
article .paragraph{
    color:rgb(63,63,63);
    font-size:1.1rem;
    padding:1rem;
    text-align: justify;
}
article a{
    font-size: 1.1rem;
    padding-left:1rem;
}
/*MEDIA QUERY*/
/*tablet*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {    
    h1{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1.2rem;
    }
    /*logo*/
    .nav-brand img{
        width: 60px;
    }
    /*menu*/
    .nav-menu{
        margin-right:0;
    }
    .nav-menu li i{
        padding-right: 0.3rem;
        font-size: 0.8rem;
    }
    /*social*/
    .nav-menu-right {
        margin-right:0rem;
    } 
    /*encabezado*/    
    .header-text{
        margin-top:1.2rem;
        padding: 1rem 0;
    }
    /*SECTION*/
    article .date{
        font-size:.9rem;
    }
}
/*movil*/
@media (min-width: 320px) and (max-width: 767px) {
    h1{
        font-size: 1.1rem;
    }
    h2{
        font-size: 1.1rem;
    }
    main{
        display:flex;
        flex-direction:column;
        padding:0.4rem;
    }
    /*header*/
    header{       
        display:flex; 
        flex-direction:column;
        background-size: auto 100%;
        padding: 0.5rem;         
    }
    nav{
        display:flex; 
        flex-direction:column;
    }
    /*logo*/
    .nav-brand{
        margin: 0 0 .5rem 0 ;
    }
    .nav-brand img{
        width: 50px;
    }      
    /*menu*/
    .nav-menu{
        display:flex; 
        flex-direction:column;
        margin: 0.4rem 0rem;
        padding:.4rem;
        background-color: rgba(256,256,256,.81);
    }    
    /*social*/
    .nav-menu-right {
        display:flex;
        flex-direction:row;
        margin:0;
    } 
    .nav-menu-right li:first-child{
        padding-right: 0.5rem;
        
    }
    .nav-menu-right li:nth-child(2){
        padding-left: 0.5rem;
    }
    /*encabezado*/    
    .header-text{
        margin-top:.2rem;
        padding: .2rem 0;
    } 
    /*section*/
    section{
        display:flex; 
        flex-direction:column;
    }
    article{
       width: auto;
    }
    article .date{
        font-size:.8rem;
    }
    article .paragraph {
        font-size: 1rem;
    }
}
